<title>Unauthorized</title>

<link rel="stylesheet" type="text/css" href="/static/semantic-ui/semantic.min.css">

<div id="main_panel">
    <h2>This page is only accessible to DesktopHero 2.0 beta users!</h2>
    <p>Your email address ({{email}}) is not on the beta list.</p>
    <p>If you are a beta user, check to make sure that the email address you used to create your DesktopHero account is the same email address that is associated with your Kickstarter account.</p>
    <p>Think this is an error? Contact andrew@desktophero3d.com with your email address and Kickstarter username.</p>
    <a href='/'>DesktopHero Home</a>
</div>

<style>
#main_panel {
    margin: 20px;
}
</style>